[submodule "config/base16-shell"]
	path = config/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "completions/dbt"]
	path = completions/dbt
	url = git@github.com:fishtown-analytics/dbt-completion.bash.git
