tmux/plugins/
config/gh/config.yml
config/configstore/update-notifier-npm.json
**.zwc
config/configstore/nodemon.json
config/configstore/update-notifier-nodemon.json
config/gh/hosts.yml
config/gh/state.yml
